*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:radial-gradient(skyblue,blue)no-repeat fixed;
}
.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 200px;
}

form{
    display: flex;
    flex-direction: column;
}

.url{
    width:300px;
    margin:10px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.button{
    width:100px;
    margin-left: 150px;
    font-size: 20px;
    cursor:pointer;
    background-color: blanchedalmond;
    border-radius: 5px;
    border:2px solid black;
}

.short-url{
    width:300px;
    margin-top:10px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.input1{
    margin-left: -30px;
}